body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  background: #f5efe7;
  color: #213555;
}
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #213555;
}
button {
  justify-content: center;
  background: #4f709c;
  color: #f5efe7;
  font-size: 1em;
  font-weight: bold;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
  margin-left: 75px;
}
button:hover {
  background: #d8c4b6;
  color: #4f709c;
}
td form > button {
  background: #4f709c;
  color: #f5efe7;
}
