body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  background: linear-gradient(
    to bottom,
    wheat,
    rgb(225, 177, 90),
    rgb(232, 165, 42)
  );
}
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(163, 51, 4);
}
button {
  justify-content: center;
  color: rgb(163, 51, 4);
  background: rgb(255, 255, 255);
  font-size: 1em;
  font-weight: bold;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
button:hover {
  background: rgb(220, 217, 213);
  color: rgb(163, 51, 4);
}
td form > button {
  background-color: rgb(232, 165, 42);
  color: white;
}
