<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/fgetpass.css" />
  </head>
  <body>
    <div class="maindiv">
      <div class="card">
        <div class="container">
          <form action="/otpverify1" method="post">
            <div class="formdiv">
              <label for="">Enter the mail to receive OTP for changing password</label>
              <input type="text" name="emailotp" />
              <button type="submit">verify</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>