<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket Booking App</title>
    <style>
      body{ margin: 0; padding: 0;font-family: 'Jost', sans-serif;
      background: linear-gradient(to bottom, wheat, rgb(225, 177, 90), rgb(232,
      165, 42)); display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;}
      #main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
    </style>
  </head>
  <body>
    <div id="main">
    <h1 style="color: brown;font-size:60px">Ticket Booking App</h1>
    <h4>User Login</h4>
    <form action="/login" method="get">
      <input type="submit" value="login"></form>
    </form>
    <h4>Admin Login</h4>
    <form action="/adlogin" method="get">
      <input type="submit" value="login"></form>
    </form>
    </div>
  </body>
</html>