<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket Booking App</title>
    <link rel="stylesheet" href="/lobbystyle.css" />
  </head>
  <body>
    <div id="main">
      <h1 style="font-size:60px;margin-top:0px">Fly Right Booking</h1>
      <div class="card" style="margin-bottom: 30px;">
        <h4 class="head">User Login</h4>
        <form action="/login">
          <button type="submit">login</button></form>
      </div>
      <div class="card">
        <h4 class="head">Admin Login</h4>
        <form action="/adlogin">
          <button type="submit">login</button></form>
      </div>

    </div>
  </body>
</html>