<html lang="en">
  <head>
    <script type="text/javascript">
      function click(){console.log("hlo");}
    </script>
  </head>
  <body>
    <h1>Ticket Booking System</h1>
    <form action="/logout" method="get" style="margin-right: 20px;">
      <button type="submit" onclick="click()">logout</button>
    </form>
  </body>
</html>